#foods img {
  width: 200px;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 40%;
  padding: 2px 16px;
}

.foodItem {
  width: 250px;
  text-align: center;
  margin: auto;
}
