* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-weight: 300;
  font-size: 20px;
  line-height: 1.6;
}
.search-control {
  padding: 0 10px;
  font-size: 15px;
  border: 1px solid black;
  color: black;
}
.notFound {
  grid-template-columns: 1fr !important;
  color: goldenrod;
  font-size: 60px;
  font-weight: 600;
  width: 100%;
}

.meal-img img {
  width: 100%;
  display: block;
}
.meal-name {
  padding: 20px 10px;
}
.meal-name h3 {
  font-size: 25px;
}
.meal-wrapper {
  max-width: 1300px;
  margin: 0 auto;
  padding: 2rem;
  background: #fff;
  text-align: center;
}
.meal-search-box {
  margin: 1.2rem 10px;
  display: flex;
  align-items: stretch;
}
.search-control,
.search-btn {
  width: 100%;
}

.search-btn {
  width: 55px;
  height: 55px;
  font-size: 20px;
  background: black;
  color: #fff;
  border: none;
}
.meal-result {
  margin-top: 20px;
}
#meal {
  margin: 40px 0;
}
.meal-item {
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 21px -12px rgba(0, 0, 0, 0.79);
  margin: 2rem 0;
}

@media screen and (min-width: 600px) {
  .meal-search-box {
    width: 540px;
    margin-left: auto;
    margin-right: auto;
  }
}
.showingIngrediants {
  display: none;
  text-align: center;
  margin: 100px;
}

@media screen and (min-width: 768px) {
  #meal {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
  .meal-item {
    margin: 0;
  }
  .meal-details {
    width: 700px;
  }
}

@media screen and (min-width: 992px) {
  #meal {
    grid-template-columns: repeat(3, 1fr);
  }
}
